@import '../sharedStyles/utils/mixins';
@import '../sharedStyles/utils/variables';

.main-section {
   width: 66rem;
   height: 100%;
   gap: 3rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow-y: scroll;
   padding: 2rem 0;
}
