@import '../../components/sharedStyles/utils';

.button-desktop-width-small {
   width: 7rem;
}

.button-desktop-width-medium {
   width: 10rem;
}

.button-desktop-width-large {
   width: 12rem;
}

.button-desktop-width-extra-large {
   @include respond($tablet-portrait) {
      width: 14rem;
   }
}

.button-tablet-width-small {
   @include respond($tablet-portrait) {
      width: 6rem;
   }
}

.button-tablet-width-medium {
   @include respond($tablet-portrait) {
      width: 8rem;
   }
}

.button-tablet-width-large {
   @include respond($tablet-portrait) {
      width: 10rem;
   }
}

.button-tablet-width-extra-large {
   @include respond($tablet-portrait) {
      width: 12rem;
   }
}

.button-mobile-width-small {
   @include respond($phone) {
      width: 5rem;
   }
}

.button-mobile-width-medium {
   @include respond($phone) {
      width: 7rem;
   }
}

.button-mobile-width-large {
   @include respond($phone) {
      width: 9rem;
   }
}

.button-mobile-width-extra-large {
   @include respond($phone) {
      width: 11rem;
   }
}

.button-desktop-height-small {
   height: 1.5rem;
   font-size: 1.2rem;
}

.button-desktop-height-medium {
   height: 2.5rem;
   font-size: 1.4rem;
}

.button-desktop-height-large {
   height: 3.5rem;
   font-size: 1.6rem;
}

.button-desktop-height-extra-large {
   height: 4.5rem;
   font-size: 1.8rem;
}

.button-tablet-height-small {
   @include respond($tablet-portrait) {
      height: 2rem;
      font-size: 1.2rem;
   }
}

.button-tablet-height-medium {
   @include respond($tablet-portrait) {
      height: 3rem;
      font-size: 1.4rem;
   }
}

.button-tablet-width-large {
   @include respond($tablet-portrait) {
      height: 4rem;
      font-size: 1.6rem;
   }
}

.button-tablet-height-extra-large {
   @include respond($tablet-portrait) {
      height: 5rem;
      font-size: 1.8rem;
   }
}

.button-mobile-height-small {
   @include respond($phone) {
      height: 1.5rem;
      font-size: 1rem;
   }
}

.button-mobile-height-medium {
   @include respond($phone) {
      height: 2rem;
      font-size: 1rem;
   }
}

.button-mobile-width-large {
   @include respond($phone) {
      height: 2.5rem;
      font-size: 1.2rem;
   }
}

.button-mobile-height-extra-large {
   @include respond($phone) {
      height: 3rem;
      font-size: 1.4rem;
   }
}

.button {
   text-transform: uppercase;
   border: none;
   border-radius: 0.7rem;
   box-shadow: 0 0.5rem 2rem rgba($color-black, 0.2);
   background-color: rgba($color-positive, 0.6);
   outline: none;
   color: white;
   cursor: pointer;
   transition: all 0.3s;

   &:hover {
      transform: translateY(-0.3rem);
   }

   &:active {
      transform: translateY(0);
   }
}
