@import '../sharedStyles/utils/mixins';
@import '../sharedStyles/utils/variables';

.nav-bar__mobile {
   background: white;
   display: none;
   z-index: 999;

   @include respond($tablet-portrait) {
      display: block;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      height: 5rem;
   }

   &__elements {
      display: flex;
      height: 100%;
      justify-content: space-around;
      align-items: center;

      &__element {
         @include displayFlexCenterCenter;
         border-radius: 0.5rem;
         height: 100%;
         width: 5rem;

         &__active {
            background: rgba($color-primary, 0.3);

            & svg {
               color: white;
            }
         }
      }
   }
}
