.left-section {
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__activity {
    background: white;
    border-radius: 2rem;
    box-shadow: 0 .5rem 2rem rgba($color-black, .1);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;

    &__header {
      height: 3.5rem;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-content: flex-start;

      &__title {
        @include displayFlexCenterCenter;
        font-size: 1.5rem;
      }

      &__see-all {
        display: flex;
        align-items: center;
      }
    }
  }

  &__explore {
    background: white;
    border-radius: 2rem 2rem 0 0;
    box-shadow: 0 .5rem 2rem rgba($color-black, .1);
    display: flex;
    justify-content: center;
    height: 50%;

    &__header {
      height: 3.5rem;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-content: flex-start;

      &__title {
        @include displayFlexCenterCenter;
        font-size: 1.5rem;
      }

      &__see-all {
        display: flex;
        align-items: center;
      }
    }
  }
}