@import '../../../sharedStyles/utils';


.post__people-reactions {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: .3rem;

  &__people {
    display: flex;

    &__person {
      height: 100%;
      display: flex;
      justify-content: center;
      font-size: 1.2rem;
      font-weight: 500;
      padding-left: .2rem;
      cursor: pointer;
      color: $color-primary-light;


      & span {
        height: 100%;
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: 500;

        &:hover {
          font-weight: 600;
          text-decoration: underline;
        }
      }
    }
  }
}