@import '../sharedStyles/utils';


.comment {
  display: flex;
  gap: 1rem;
  background-color: $color-grey-light;
  flex-direction: column;

  &__user-photo {
    display: flex;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    clip-path: circle();

    & img {
      height: 100%;
      cursor: pointer;
    }
  }

  &__elements {

    &__content {
      width: fit-content;
      max-width: 100%;
      border-radius: 1rem;

      &__username {
        font-size: 1.3rem;
        font-weight: 500;
        margin: 0 .5rem 0 .5rem;
      }

      &__comment {
        font-size: 1.2rem;
        margin: 0 1rem 0 1rem;

        &__comments {
          margin-left: 3rem;
        }
      }

      &__no-likes {
        display: none;

        &__active {
          display: block;
        }

        & svg {
          stroke-opacity: 0;
        }
      }
    }

    &__actions {
      display: flex;
      gap: 1.5rem;
      margin-left: 1rem;

      &__like {
        font-size: 1.1rem;
        font-weight: 500;
        cursor: pointer;

        &__active {
          color: $color-primary;
        }

        &:hover {
          color: $color-primary;
        }
      }

      &__comment {
        font-size: 1.1rem;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          color: $color-primary;
        }
      }

      &__date {
        color: rgba(grey, 0.3);
      }
    }
  }
}