.auth {
   display: flex;
   width: 90rem;
   height: 45rem;
   max-height: fit-content;
   border-radius: 2rem;
   background-color: #f3f5f7;
}
.auth__wrapper {
   z-index: 1000;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100vw;
   height: 100vh;
}
.auth__title-container {
   width: 60%;
   height: 100%;
   border-radius: 2rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 5rem;
   background-image: url(../public/auth__title--background.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.auth__title-container__title {
   width: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.auth__title-container__title__content {
   font-size: 3rem;
   font-weight: 900;
   color: white;
}
.auth__title-container__description {
   width: 80%;
   display: flex;
   display: flex;
   align-items: center;
   justify-content: center;
}
.auth__title-container__description__content {
   width: 70%;
   font-size: 1.4rem;
   font-weight: 500;
   color: white;
}
.auth__form {
   width: 40%;
   height: 100%;
   position: relative;
}
.auth__form__content {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   flex-direction: column;
   gap: 1rem;
}
.auth__form__content__title__content {
   font-size: 2.5rem;
   color: #5d8bf4;
}
.auth__form__content__group {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1.5rem;
}
.auth__form__content__group__input {
   width: 20rem;
   height: 4rem;
   border: none;
   border-radius: 0.7rem;
   background-color: rgba(93, 139, 244, 0.5);
   box-shadow: 0 0.5rem 2rem rgba(4, 3, 3, 0.1);
   outline: none;
   text-align: center;
   color: white;
   font-size: 1.4rem;
   transition: all 0.3s;
}
.auth__form__content__group__input:focus + .auth__form__content__group__label {
   opacity: 1;
   transform: translateY(-1rem);
}
.auth__form__content__group__input:focus::placeholder {
   opacity: 0;
}
.auth__form__content__group__input::placeholder {
   color: white;
   text-align: center;
   font-size: 1.5rem;
}
.auth__form__content__group__label {
   height: 1rem;
   transition: all 0.3s;
   opacity: 0;
   transform: translateY(-2rem);
   font-size: 1.5rem;
   font-weight: 500;
   color: #5d8bf4;
}
.auth__form__content__signup-link__content {
   font-size: 1.2rem;
   color: #5d8bf4;
}
.auth__form__content__signup-link__content span u {
   color: #051367;
   font-size: 1.2rem;
   cursor: pointer;
}
.auth__form__content__button {
   font-size: 1.5rem;
   text-transform: uppercase;
   width: 10rem;
   height: 4rem;
   border: none;
   border-radius: 0.7rem;
   box-shadow: 0 0.5rem 2rem rgba(4, 3, 3, 0.2);
   background-color: rgba(0, 200, 151, 0.6);
   outline: none;
   color: white;
   cursor: pointer;
   transition: all 0.3s;
}
.auth__form__content__button:hover {
   transform: translateY(-0.3rem);
}
.auth__form__content__button:active {
   transform: translateY(0);
}
.auth__form__close {
   display: flex;
   align-items: center;
   justify-content: center;
   top: 5%;
   right: 5%;
   position: absolute;
   cursor: pointer;
   width: 3rem;
   height: 3rem;
}
.auth__form__close:hover {
   background-color: #f3f5f7;
   border-radius: 0.7rem;
}

/*# sourceMappingURL=index.css.map */
