@import '../sharedStyles/utils/mixins';
@import '../sharedStyles/utils/variables';

.nav-bar {
   display: flex;
   max-width: 160rem;
   min-width: fit-content;
   margin: 0 auto;
   justify-content: space-around;
   align-items: center;
   height: 100%;

   &__wrapper {
      position: fixed;
      width: 100vw;
      height: 5rem;
      padding: 1rem 0;
      background-color: white;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;

      @include respond($tablet-portrait) {
         display: none;
      }
   }

   &__element {
      display: flex;
      gap: 2rem;
      height: 100%;
      align-items: center;

      &__svg {
         height: 100%;
         @include displayFlexCenterCenter;
         cursor: pointer;

         &:hover svg {
            color: $color-negative;
         }
      }

      &__username p {
         font-size: 1.2rem;
         font-weight: 500;
         cursor: pointer;
         width: 15rem;
         display: flex;
         justify-content: flex-end;
      }

      &__person__photo {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 3rem;
         height: 3rem;
         clip-path: circle();
         cursor: pointer;

         & img {
            height: 100%;
         }
      }

      &__title {
         font-size: 1.5rem;
         cursor: pointer;
      }

      &__form {
         height: 100%;
         display: flex;
         align-items: center;
         gap: 1rem;
         width: 100%;
         justify-content: flex-end;

         &__floating-input {
            display: flex;
            align-items: center;
            padding-top: 6rem;
            position: absolute;
            z-index: 50;
            background-color: rgba(black, 0.8);
            top: 0;
            right: 0;
            left: 0;
            height: 100vh;
            cursor: pointer;
            flex-direction: column;
            gap: 2rem;

            &--hidden {
               display: none;
            }

            &__results {
               width: 45rem;
               height: fit-content;
               min-height: 10rem;
               @include displayFlexCenterCenter;
               background-color: white;
               border-radius: 1rem;
            }
         }
      }
   }
}
