@import '../sharedStyles/utils';
@import './PostComponents/PostActions';
@import './PostComponents/PostComments';
@import './PostComponents/PostContent';
@import './PostComponents/PostHead';
@import './PostComponents/PostPeopleReactions';

.post {
   width: 95%;
   display: flex;
   flex-direction: column;
   height: fit-content;
   border-radius: 2rem;
   box-shadow: 0 0.5rem 2rem rgba($color-black, 0.1);
   padding: 1.5rem;
   gap: 1rem;
   background-color: white;
}
