@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

@import './base';
@import './utils';

@import '../../pages/HomePage';
@import '../../pages/PostPage';
@import '../../pages/UserPage';

@import '../NavBar';
@import '../AuthForm';
@import '../MainSection';
@import '../Post';
@import '../Input';
@import '../Label';
@import '../InputLabeled';
@import '../Button';
@import '../SideMenu';
@import '../DesktopNavBar';
@import '../MobileNavBar';
@import '../MobileUpperNavigation';
@import '../Notification';
@import '../MobileNotifications';
@import '../MobileExplore';
@import '../Comment';
@import '../CommentsSection';

*,
html,
body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 10px;
   font-family: 'Hind', sans-serif;
}

body {
   background-color: $color-grey-light;
}
