@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

@import './base';
@import './utils';

@import '../../pages/HomePage';
@import '../../pages/PostPage';
@import '../../pages/UserPage';
@import '../../pages/MobileUserPage';

@import '../NavBar';
@import '../Forms/AuthForm';
@import '../MainSection';
@import '../Post';
@import '../FormComponents/Input';
@import '../FormComponents/Label';
@import '../FormComponents/InputLabeled';
@import '../FormComponents/Button';
@import '../SideMenu';
@import '../DesktopNavBar';
@import '../MobileComponents/MobileNavBar';
@import '../MobileComponents/MobileUpperNavigation';
@import '../Notification';
@import '../MobileComponents/MobileNotifications';
@import '../MobileComponents/MobileExplore';
@import '../Comment';
@import '../CommentsSection';
@import '../Forms/PostForm';
@import '../MobileComponents/MobileSettings';


*,
html,
body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 10px;
   font-family: 'Hind', sans-serif;
}

body {
   background-color: $color-grey-light;
}
