$color-primary-dark: #051367;
$color-primary: #2d31fa;
$color-primary-light: #5d8bf4;

$color-secondary-dark: #f76e11;
$color-secondary: #ff9f45;
$color-secondary-light: #ffbc80;

$color-black: #040303;

$color-grey-dark: #d1d1d1;
$color-grey-light: #f3f5f7;

$color-white-smoke: #f5f5f5;

$color-positive: #00c897;
$color-negative: #d82148;

$large-desktop: 100em;
$tablet-landscape: 75em;
$tablet-portrait: 56em;
$phone: 37em;
$mini-phone: 32em;
